{% extends 'stripeapp/index.html' %}

{% block content %}
    <h1>Создать заказ</h1>
    {% for i in items %}
        <div>
            <input class="checker" type="checkbox" id="check">
            <h1 class="name" style="display: inline-block;">Название: {{ i.name }}</h1>
            <h1 class="desc">Описание: {{ i.description }}</h1>
            <h1 class="price">Цена: {{ i.price|slugify|slice:":-2" }},{{ i.price|slugify|slice:"-2:" }} </h1>
            <h1 class="id">Артикул: {{ i.id }}</h1>
            <h1 style="display: inline-block;">Количество: </h1>
            <input type="number" class="count">
        </div>
        <h1>_________________________</h1>
    {% endfor %}
    <h1 style="display: inline-block;">Купон на скидку: </h1>
    <input type="text" id="discount" style="display: inline-block;">
    <button type="submit" id="checkcoupon" style="display: inline-block;">Применить</button>
    <button type="submit" id="buyorder" style="display: block;">Buy</button>
{% endblock %}